<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Fs17ProcessName" value="FarmingSimulator2017Game" />
    <add key="DownloadAllUrl" value="/all_mods_download?onlyActive=true" />
    <add key="DownloadList" value="/mods.html" />
    <add key="LoginUrl" value="/index.html" />
    <add key="WebApiUrl" value="/feed/dedicated-server-stats.xml" />
    <add key="ModsFolder" value="\Documents\My Games\FarmingSimulator2017\mods\" />
    <add key="LogFileMaxSize" value="1" />
  </appSettings>
</configuration>